body
{
    padding:0; 
    margin: 0;
    font-family: Outfit;
    height: 100%;
    box-sizing: border-box;
}

/* - White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%) */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

h3{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    width: 85%;
    font-size: 20px;
}

p{
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    width: 85%;
    font-size: 15px;
    margin-top: -3px;
    margin-bottom: 15px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
}

.hero{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 280px;
    padding-top: 15px;
    padding-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.01), 
                0 2px 4px rgba(0,0,0,0.01), 
                0 4px 8px rgba(0,0,0,0.01), 
                0 8px 16px rgba(0,0,0,0.01),
                0 16px 32px rgba(0,0,0,0.01), 
                0 32px 64px rgba(0,0,0,0.01);
    
}

img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

